.loginContainer{
    width: 100%;
    display: flex;
    div{
        p{
            text-align: center;
            font-size: 2rem;
            text-decoration: underline;
        }
        button{
            width: 80%;
            margin: auto;
            margin-top: 2rem;
            background: transparent;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
         }
         a{
            font-size: 1rem;
            display: flex;
            justify-content: center;
            color: blue;
            margin-top: 0.5rem;
            u{
                cursor: pointer;
            }
         }
        width: 35%;
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;
        font-size: 1.5rem;
        justify-content: center;
        margin-top: 10%;
        div{
            margin: auto;
            width: 80%;
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        input{
            height: 1.5rem;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
        }
      
    }
    img{
        width: 65%;
        height: 100vh;
    }
}